input[type=email]{
    color: black;
}

#tabla, th, td {
    white-space: nowrap;
    }
#id{
    text-align: right;
}

#tablaID{
    text-align: right;
}
#sem{
    text-align: center;
}

.fas{
    color: lightslategray;
    width: 25px;
    animation: none;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
